constraints: BoundedChan == 1.0.1.0
           , MonadRandom == 0.1.12
           , ansi-terminal == 0.6.1.1
           , array == 0.4.0.1
           , async == 2.0.1.5
           , base == 4.6.0.1
           , base-unicode-symbols == 0.2.2.4
           , base64-bytestring == 1.0.0.1
           , blaze-builder == 0.3.3.2
           , blaze-builder-conduit == 1.0.0
           , byteorder == 1.0.4
           , bytestring == 0.10.4.0
           , case-insensitive == 1.1.0.3
           , comonad == 4.0
           , conduit == 1.0.15.1
           , containers == 0.5.0.0
           , contravariant == 0.4.4
           , data-default == 0.5.3
           , data-default-class == 0.0.1
           , data-default-instances-base == 0.0.1
           , data-default-instances-containers == 0.0.1
           , data-default-instances-dlist == 0.0.1
           , data-default-instances-old-locale == 0.0.1
           , date-cache == 0.3.0
           , deepseq == 1.3.0.1
           , directory == 1.2.0.1
           , distributive == 0.4
           , dlist == 0.6.0.1
           , either == 4.1.1
           , errors == 1.4.5
           , fast-logger == 0.3.3
           , filepath == 1.3.0.1
           , ghc-prim == 0.3.0.0
           , hashable == 1.2.1.0
           , hsyslog == 1.6
           , http-types == 0.8.3
           , integer-gmp == 0.5.0.0
           , lifted-async == 0.1.1
           , lifted-base == 0.2.1.1
           , mmorph == 1.0.2
           , monad-control == 0.3.2.2
           , mtl == 2.1.2
           , nats == 0.1.2
           , network == 2.4.2.2
           , old-locale == 1.0.0.5
           , old-time == 1.1.0.1
           , parsec == 3.1.5
           , random == 1.0.1.1
           , regex-base == 0.93.2
           , regex-tdfa == 1.2.0
           , regex-tdfa-text == 1.0.0.1
           , resourcet == 0.4.10
           , rts == 1.0
           , safe == 0.3.3
           , semigroupoids == 4.0
           , semigroups == 0.12.2
           , stm == 2.4.2
           , stringsearch == 0.3.6.5
           , tagged == 0.7
           , text == 1.1.0.1
           , text-stream-decode == 0.1.0.4
           , time == 1.4.0.1
           , transformers == 0.3.0.0
           , transformers-base == 0.4.1
           , transformers-compat == 0.1.1.1
           , unix == 2.7.0.0
           , unix-time == 0.2.2
           , unordered-containers == 0.2.3.3
           , vault == 0.3.0.3
           , void == 0.6.1
           , wai == 1.4.1
           , wai-extra == 1.3.4.7
           , wai-logger == 0.3.2
           , word8 == 0.0.4
           , zlib == 0.5.4.1
           , zlib-bindings == 0.1.1.3
           , zlib-conduit == 1.0.0
